.dirs_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.dirs_item {
    flex-basis: auto;
    align-self: flex-start;
    width:25%;
} 

/* .dirs_link {

} */

.images_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    width: 100%;
}

.images_item {
    flex-basis: auto;
    align-self: flex-start;
    width:33%;
    height: auto;
}   

body {
    background-color: #ebfafa;
}